# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
bin/
pkg/
vendor/

# Node.js / SvelteKit / Vite
node_modules/
.DS_Store
dist/
dist-ssr/
.svelte-kit/
build/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tauri
src-tauri/target/
src-tauri/Cargo.lock

# IDE / OS specific
.vscode/
.idea/
Thumbs.db